<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Test</title>
	</head>

	<body>
		<header>
			<div class="">Logo</div>
			<div class="">navigation</div>
		</header>

		<main>
			<section>
				<form id="form" onsubmit="return Client.handleSubmit(event)">
					<!-- <form class="" onsubmit="handleSubmit(event)"> -->
					<input
						id="url"
						type="text"
						name="input"
						value=""
						placeholder="Enter URL here"
					/>
					<input type="submit" name="" value="submit" />
				</form>
			</section>

			<section>
				<strong>Form Results:</strong>
				<div id="results"></div>
			</section>
		</main>

		<footer>
			<p>This is a footer</p>
		</footer>
		<script>
			function handleSubmit(e) {
				e.preventDefault();
				console.log('TESTTET');
			}
		</script>
	</body>
</html>
